---
http_interactions:
- request:
    method: post
    uri: http://filmspieler.com/xmlrpc.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>getCoreUpdatesAvailable</methodName><params><param><value><string>zYTGNmya0aO6pconi1LmHLyONovKu5sN</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
          <params>
            <param>
              <value>
              <array><data>
        </data></array>
              </value>
            </param>
          </params>
        </methodResponse>
  recorded_at: Fri, 23 Aug 2013 07:41:37 GMT
- request:
    method: post
    uri: http://filmspieler.com/xmlrpc.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>getPluginUpdatesAvailable</methodName><params><param><value><string>zYTGNmya0aO6pconi1LmHLyONovKu5sN</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
          <params>
            <param>
              <value>
              <array><data>
        </data></array>
              </value>
            </param>
          </params>
        </methodResponse>
  recorded_at: Fri, 23 Aug 2013 07:41:37 GMT
recorded_with: VCR 2.5.0
