---
http_interactions:
- request:
    method: post
    uri: http://wp-test.dev/xmlrpc.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>getCoreUpdatesAvailable</methodName><params><param><value><string>U3sMgZPcClgFkvR486dIQZ6cDynhHYlk</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
          <params>
            <param>
              <value>
              <struct>
          <member><name>installed</name><value><string>3.5</string></value></member>
          <member><name>current</name><value><string>3.5.1</string></value></member>
        </struct>
              </value>
            </param>
          </params>
        </methodResponse>
  recorded_at: Sat, 08 Jun 2013 13:36:18 GMT
- request:
    method: post
    uri: http://wp-test.dev/xmlrpc.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>getPluginUpdatesAvailable</methodName><params><param><value><string>U3sMgZPcClgFkvR486dIQZ6cDynhHYlk</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
          <params>
            <param>
              <value>
              <array><data>
          <value><struct>
          <member><name>plugin</name><value><string>Akismet</string></value></member>
          <member><name>installed</name><value><string>2.5.6</string></value></member>
          <member><name>current</name><value><string>2.5.7</string></value></member>
        </struct></value>
        </data></array>
              </value>
            </param>
          </params>
        </methodResponse>
  recorded_at: Sat, 08 Jun 2013 13:36:18 GMT
recorded_with: VCR 2.5.0
