---
http_interactions:
- request:
    method: post
    uri: http://wp-test.dev/xmlrpc.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>getCoreUpdatesAvailable</methodName><params><param><value><string>invalid_key</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
          <params>
            <param>
              <value>
              <string>Invalid API Key</string>
              </value>
            </param>
          </params>
        </methodResponse>
  recorded_at: Sat, 24 Aug 2013 13:58:13 GMT
recorded_with: VCR 2.5.0
